
        @import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin:wght@700&family=IBM+Plex+Sans:wght@700&family=Lato:wght@900&family=Montserrat:wght@700&family=Open+Sans:ital,wght@1,500&family=Poppins:wght@200;400&family=Roboto+Condensed:wght@500&family=Roboto+Slab:wght@700&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Anton&family=Cabin:wght@700&family=IBM+Plex+Sans:wght@700&family=Lato:wght@300&family=Montserrat:wght@700&family=Poppins:wght@200;400&display=swap');

        * {
            margin: 0;
            padding: 0;
            /* border: 1px solid red; */
        }

        body {
            width: 100vw;
            font-family: 'Poppins', sans-serif;

        }

        nav {
            height: 10vh;
            background-color: #111111;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        .logo {
            height: 5vh;
            font-size: 1.9rem;
            margin-left: 120px;
            font-family: "Cabin", sans-serif;
            color: whitesmoke;

        }

        .threediv {
            height: 4vh;
            width: 3vw;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-right: 150px;

        }

        .div1,
        .div2,
        .div3 {
            background-color: white;
            margin: 2px;
            height: 1vh;
            width: 3vw;
        }

        .one {
            height: 100vh;
            display: flex;
            background-color: #3b383f;
            justify-content: space-between;
            align-items: flex-end;

        }

        .oneleft {
            height: 75vh;
            width: 34vw;
            color: white;
            position: relative;
            left: 10vw;

        }

        .oneright {
            height: 100vh;
            width: 55vw;
            background-image: url(1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .lt1 {
            font-size: 2rem;
            font-weight: 700;
            font-family: 'Roboto Slab', serif;
        }

        .lt2 {
            font-size: 5rem;
            font-weight: 900;
            font-family: 'Roboto Slab', serif;

        }

        .hr {
            width: 90%;
            height: 0.5px;
            background-color: whitesmoke;
            margin: 5vh;
        }

        .info {
            display: flex;
            flex-direction: column;
            width: 9vw;
            font-family: 'Roboto Slab', serif;


        }

        .dob,
        .addr,
        .email,
        .phone {
            margin-top: 1vh;
        }

        .dob1,
        .addr1,
        .email1,
        .phone1 {
            margin-top: 1vh;

        }

        .personel {
            display: flex;
            font-size: 1rem;
        }

        .allinfo {
            display: flex;
            flex-direction: column;
            width: 20vw;
            font-size: 0.9rem;
            font-family: 'poppins', serif;
        }

        .download {
            height: 8vh;
            width: 23vw;
            background-color: darkorange;
            color: white;
            font-size: 1.2rem;
            font-weight: bold;
            margin-top: 9vh;
            border-radius: 10px;
            border: none;
        }

        .download:hover {
            background-color: grey;
            cursor: pointer;
        }

        .email1,
        .phone1:hover {
            cursor: pointer;
        }

        .two {
            height: 415vh;
            background-image: linear-gradient(#5e5a63, #2d2933);
            display: flex;
            align-items: center;
            flex-direction: column;

        }

        .two1 {
            font-size: 3rem;
            color: white;
            font-weight: 700;
            margin-top: 10vh;

        }

        .two2 {
            font-size: 1.3rem;
            color: white;
            font-weight: 700;
            margin: 5vh;

        }

        .two3 {
            height: 2px;
            width: 50vw;
            background-color: white;
        }

        .two4 {
            height: 40vh;
            width: 50vw;
            margin: 5vh;
            display: flex;


        }

        .two41 {
            height: 100%;
            width: 40%;
            color: whitesmoke;
        }

        .two42 {
            height: 100%;
            width: 60%;
            color: whitesmoke;

        }

        .two421 {
            font-size: 1.3rem;
            font-weight: 900;
            color: darkorange;

        }

        .two422 {
            font-size: 1rem;
            font-weight: 600;
            color: whitesmoke;
            margin: 3vh 0vw;

        }

        .two423 {
            font-size: 1.4rem;
            font-weight: 700;
            color: whitesmoke;

        }

        .line {
            height: 2px;
            width: 50vw;
            background-color: white;
        }

        .contactme button {
            height: 8vh;
            width: 22vw;
            border-radius: 10px;
            background-color: darkorange;
            font-size: 1rem;
            color: white;
            font-weight: 800;

        }

        .contactme button:hover {
            cursor: pointer;
            border: none;
            background-color: grey;
        }

        .portfolio {
            font-size: 3rem;
            color: white;
            font-weight: 700;
            margin-top: 15vh;

        }

        .porttext {
            font-size: 1.3rem;
            color: white;
            font-weight: 700;
            margin: 5vh;

        }

        .twocontainer {
            height: 50vh;
            width: 80vw;
            display: flex;
            margin: 10px 0px;
            justify-content: center;
            align-items: center;

        }

        .card1,
        .card2,
        .card3,
        .card4,
        .card5,
        .card6 {
            height: 50vh;
            width: 25vw;
            margin: 0px 10px;
            box-sizing: border-box;

        }

        .c11 {
            height: 40vh;
            background-image: url(2.jpg);
            background-size: cover;
        }

        .c12 {
            height: 40vh;
            background-image: url(3.jpg);
            background-size: cover;
        }

        .c13 {
            height: 40vh;
            background-image: url(4.jpg);
            background-size: cover;
        }

        .c14 {
            height: 40vh;
            background-image: url(5.jpg);
            background-size: cover;
        }

        .c15 {
            height: 40vh;
            background-image: url(7.jpg);
            background-size: cover;
        }

        .c16 {
            height: 40vh;
            background-image: url(8.jpg);
            background-size: cover;
        }

        .c2 {
            height: 10vh;
            background-color: #fff;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 900;
            font-family: 'Roboto Slab', serif;
            color: grey;

        }

        .three {
            height: 200vh;
            background-image: linear-gradient(#5e5a63, #2d2933);

        }

        .threecontainer {
            height: 100vh;
            display: flex;
            width: 100vw;
            justify-content: space-around;
        }

        .tleft {
            height: 80vh;
            width: 40vw;
            margin-top: 15vh;
            color: white;
            line-height: 1.9;
            margin-left: 5vw;


        }

        .tright {
            height: 80vh;
            width: 30vw;
            margin-top: 15vh;

        }

        .tl1 {
            font-size: 2rem;
            font-weight: bolder;
        }

        .tl2 {
            font-size: 1.1rem;
            margin-top: 30px;
            margin-bottom: 50px;
        }

        .tl3 {
            font-size: 1.1rem;

        }

        .tl4>button {
            height: 8vh;
            width: 15vw;
            background-color: darkorange;
            color: white;
            font-size: 1.3rem;
            border-radius: 10px;
            border: none;
            margin-top: 60px;


        }

        .tl4>button:hover {
            background-color: gray;
            cursor: pointer;
        }

        .tr1 {
            height: 30vh;
            width: 30vw;
            margin-top: 5vh;
            display: flex;
            justify-content: space-around;
        }

        .r {
            height: 22vh;
            width: 10vw;
            background-color: darkorange;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 2rem;
            font-weight: 800;

        }

        .r:hover {
            cursor: pointer;
        }

        .r1 {
            font-size: 1.2rem;
            color: white;
            margin-top: 15px;
            text-align: center;

        }

        .fourth {
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

        }

        .f1 {
            height: 27vh;
            width: 14vw;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: grey;

        }

        .f2 {
            height: 25vh;
            width: 13vw;
            background-image: url(9.jpg);
            border-radius: 50%;
            background-size: cover;
        }

        .fourthtext {
            margin-top: 5vh;
            color: white;
            font-size: 3.5rem;
            font-weight: bolder;
            text-align: center;
            line-height: 1;
        }

        .fourthtext2 {
            margin-top: 5vh;
            color: white;
            text-align: center;
        }

        .fourthtext3 {
            margin-top: 5vh;
            color: white;
            width: 40vw;
        }

        .fourthtext4 {
            margin-top: 1vh;
            color: white;
            width: 40vw;
        }

        .fourthtext4>input {
            height: 5vh;
            width: 40vw;
            font-size: 1rem;
            background-color: transparent;
            color: white;
            border: none;
            outline: none;

            border-bottom: 1px solid gray;
        }

        .sub {
            height: 7vh;
            width: 40vw;
            background-color: darkorange;
            text-align: center;
            font-size: 1.2rem;
            border-radius: 10px;
            color: white;
            border: none;
            font-weight: 400;
            margin-top: 2vh;
        }

        .sub:hover {
            cursor: pointer;
            background-color: gray;
            color: darkorange;
        }

        footer {
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #3b383f;
            color: white;
        }
    